:root {
  --theme-color: rgb(154, 205, 50);
  --theme-color-light: rgba(154, 205, 50, 0.05);
  --theme-color-medium: rgba(154, 205, 50, 0.1);
  --dark-color: rgba(0,0,0,0.8);
  --dark-focused: rgb(154, 205, 50);
}
body {
  font-family: "Helvetica Neue", helvetica, arial, "sans serif";
}
.sidebar {
  color: rgba(0,0,0,0.8);
}
.sidebar ul li a {
  color: rgba(0,0,0,0.8);
}
.sidebar ul li.active>a {
  color: var(--theme-color);
  border-right: 5px solid;
}
.markdown-section {
  max-width: 1000px;
  margin: 20px;
}
.markdown-section code, .markdown-section pre {
  font-size: 12px;
  line-height: 16px;
}
.markdown-section h1 {
  font-size: 80px;
  letter-spacing: -4px;
}
.markdown-section h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.markdown-section h3 {
  font-size: 30px;
  border-left: 10px solid black;
  padding-left: 15px;
}
.anchor span {
  color: var(--dark-color);
}
.markdown-section ol, .markdown-section p, .markdown-section ul {
  line-height: 1.4rem;
}
.markdown-section textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  height: 400px;
  font-size: 12px;
  border: none;
  background: rgba(0,0,0,0.8);
  color: white;
}
.home {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  color: rgba(255,255,255,0.9);
  background: rgba(0,0,0,0.9);
}
.home .item {
  font-size: 12px;
  font-weight: bold;
  color: rgba(255,255,255,0.8);
  padding: 10px 20px;
  background: rgba(0,0,0,0.2);
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
}
.home #title i {
  font-size: 80px;
}
.home #title {
  font-size: 35px;
  letter-spacing: -1px;
}
a.btn {
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 10px;
  border-radius: 2px;
  color: white;
  text-decoration: none;
}
